body{
	text-align: center;
	font-size: 18px;
	margin-top: 5%;
	background-color: black;
}
.cnx{
     margin: auto;
     width: 20%;
	 background-color:rgb(211 211 211);
     padding: 2%;
     border-radius: 20px;
}
.socialmedia{
	display: flex;
   	justify-content: center;
   	justify-content: space-around;
}
.socialmedia p{
	padding: 5px;
   	margin: 15px;
   	border: 1px  solid ;
   	border-radius: 80%;
    }
a{
	text-decoration: none;
	color: black;
}    
.inputs input{
	margin: 2%;
	padding: 5%;
	width: 85%;
	border-radius: 10px;
	border:none;
}
.lien-inscr a{
	color: blue;
}
.btn button{
	background-color:rgb(155 155 255);
	border-radius: 20px;
	border:none;
	padding: 3%;
	width: 50%;
	font-size: 18px;
}