html{
	float: left;
	width: 100%;
	height: 100%;
}

body{
	float: left;
	width: 100%;
	height: 100%;
	margin:0;
}

 header{
 	float: left;
 	width: 100%;
 	height: 15%;
 	border-bottom-style: inset;
 	display: flex;
 }
 section{
	width: 100%;
	height: auto;
	float: left;
	margin:0%;

} 


 div.logo{
	float: left;
	width: 15%;
}
nav{
	float: left;
	width: 85%;
	align-items: center;
    display: flex;
 }

header ul {
	float: left;
	width:65% ;
	display: flex;
	list-style: none;
	font-size:20px;
  }
header ul li{
	margin-right: 6%;

}

a{
	text-decoration: none;
	color: black;
}
header a:hover{
	color: rgb(25 129 216);
}
.menu form{
 	float: left;
 	width: 20%;
 }
.menu form input{
	border-radius: 20px;
	border:none;
	padding:4%;
	text-align:center;
	background-color:#F4F6F7;

}
.menu p{
	float: left;
	width: 5%;
 	}

section div {
	width: 100%;
	float: left;
}
.menu2{
	float: left;
	width: 90%;
	display: flex;
	margin-left: 3%;
	font-size: 18px;
}
.menu2 a{
	 margin:1.3%;
}
.menu2 a:hover{
	text-decoration: underline;
}

section .formulaire{
	float: left;
	width: 60%;
 	margin-left: 2%;
 }

section div form .div-col-2{
	display: flex;
}

section div form .div-col-2 input{
	width: 90%; 
	padding:2%;
}
section .form-div input{
	width: 95%;
	padding:1%;
}
section input{
	margin: 1% 0 1% 0;
	background-color:#F4F8F7;
	border:none; 
}
section textarea{
	width: 96%;
	height: 100%;
}
section .detail{
	float: left;
	width: 25%;
	background-color:#F4F6F7;
}
section .detail div{
	width:90%;
	margin-left: 4% ;

}
section .y-order{
	margin-left: 4%;
}

section .detail-col-2{
	display: flex;
	justify-content: space-between;
}
section .detail button{
	width: 80%;
	margin: 5% 0% 5% 10%;
	padding: 3%;
	background-color: #EB984E;	
	border:none; 
}








footer{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 10%;
}

footer .footer1{	
	display: flex;
	justify-content: space-around;
	border-bottom:1px solid;

}
footer .footer1 div{
	width:20%;
}
footer .footer1 h3,.footer1 p{
	margin-left: 14%;
	
}
footer .footer1 ul{
	list-style: none;
}
footer a:hover{
	text-decoration: underline;
}
 

footer .footer2{
	display: flex;
	justify-content: space-between;	
 }
 
